<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>New York</string>
		<key>latitude</key>
		<real>40.759211</real>
		<key>longitude</key>
		<string>73.984638</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tokyo</string>
		<key>latitude</key>
		<string>35.702069</string>
		<key>longitude</key>
		<string>139.775327</string>
	</dict>
</array>
</plist>
